body {
  background-image: url("images/white-background.png");
  background-size: cover;
  background-size: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  max-width: 100%;
  border: silver outset 15px;
  text-align: center;
}

nav {
  max-width: 100%;
  margin: 0 5px;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 0 30px 0 40px;
  background-color: silver;
  border-radius: 1rem;
  border: black solid 1px;
}

nav ul li {
  margin: 5px;
  border-right: black solid 1px;
  padding-right: 10px;
  list-style-type: none;
  font-weight: bold;
}

nav a {
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  border-bottom: 2px solid;
}

nav ul li:last-child {
  border: none;
}

.info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -32px;
  width: 100%;

  height: auto;
}

.infoParagraph {
  max-width: 100%;
  border-bottom: double 15px silver;
  border-right: double 15px silver;
  border-left: double 15px silver;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; /* background-color: silver; */
  color: black;
  padding: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.infoWelcome {
  /* background-color: silver; */
  border-top: double 15px silver;
  border-right: double 15px silver;
  border-left: double 15px silver;
  border-bottom: solid 2px silver;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  text-align: center;
  padding: 5px;
  margin: 0;
}

footer {
  background: black;
  color: white;
  text-align: center;
  border-top: silver solid 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  width: 100%;
}

/* sixto's page */

#sixto-h1 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 0;
  border-bottom: black double 10px;
  border-top: black double 10px;
  border-radius: 4rem;
  background-color: white;
}

#sixto-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#sixto-aboutMe {
  text-align: center;
  margin-top: 3rem;
  font-size: 150%;
}

#sixto-aboutMe:hover {
  background-color: black;
  color: white;
  padding: 10px;
  border: solid white 5px;
}

/* #sixto-h3:hover {
  background-color: black;
  color: white;
} */

#sixto-p {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: Haettenschweiler, "Arial Narrow Bold", serif;
  border: ridge silver 10px;
  padding: 15px;
}

.sixto-lists {
  display: flex;
  flex-direction: row;
}
